:root {
    --accent-1: #ffffff;
    --accent-2: #068947;
    --primary-color: #981F35;
    --secondary-color: #FF9000;
    --heading-font: Boldonse;
    --paragraph-font: 'Open Sans';
}

h1,
h2 {
    font-family: var(--heading-font);
}

h1 {
    font-weight: 500;
    font-size: 35px;
}

h2 {
    font-weight: 300;
    font-size: 25px;
}

.hero h1 {
    color: var(--accent-1);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 97%;
    padding: 20px;
    text-align: center;
    bottom: 70%;
}

.black {
    color: var(--accent-1);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 72.5%;
    padding: 130px 189px;
    bottom: 0%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    text-align: left;
}

.history h2,
.adventure h2 {
    color: var(--accent-2);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
}

a {
    text-decoration: none;
    color: var(--accent-1);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: larger;
}

.hero img,
.home img {
    display: block;
    width: 100%;
    height: auto;
}

.hero,
.home {
    position: relative;
    border-style: groove;
}

.hero article img {
    width: 30%;
    float: right;
    padding: 20px;
}

article p {
    color: var(--accent-1);
    padding-left: 10px;
    text-align: justify;
}

article {
    position: absolute;
    background-color: rgba(19, 78, 74, 0.6);
    width: 80%;
    top: 30%;
    left: 9%;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    border-style: groove;
}

header img {
    margin: 20px 0 20px 40%;
    border-style: groove;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 15%;
    border-style: groove;
    height: 50px;
}

header nav a {
    display: flex;
    align-items: center;
    border-right: 2px solid whitesmoke;
    padding: 0 60px;
}

header nav a:last-child {
    border-right: none;
}

footer p {
    font-weight: 500;
    font-size: larger;
    padding: 10px;
    text-align: right;
}

header,
header nav a,
footer {
    background-color: var(--primary-color);
    color: var(--accent-1);
}

.history {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    border-style: groove;
}

.history p:last-child {
    order: -1;
}

.history div {
    margin-bottom: 2.5%;
    margin-right: 0%;
    margin-left: 0%;
}

.history p {
    padding: 2%;
    text-align: justify;
}

.history img {
    border-style: groove;
}

.adventure-images {
    display: flex;
}

figure {
    border-style: groove;
    border-radius: 0.5em;
}

figcaption {
    font-family: var(--paragraph-font);
    border-style: groove;
    border-radius: 0.5em;
}

.adventure {
    border-style: groove;
}

footer {
    border-style: groove;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.socials {
    margin-top: 3%;
    padding: 10px 10px 20px 10px;
    grid-column: -1;
}

/* contact us page */

.intro {
    text-align: center;
    margin-top: 5%;
}

.intro h1 {
    color: var(--accent-2);
}

.ways {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 5%;
}

.ways p:first-child,
.ways p:last-child {
    border-style: groove;
    border-radius: 0.5em;
    padding: 3%;
}

.headquarters {
    display: flex;
    gap: 10%;
    border-style: groove;
}

.headquarters h1 {
    color: var(--accent-2);
}

.address,
iframe {
    margin-top: 5%;
    margin-bottom: 2%;
}

iframe {
    border-style: groove;
    border-radius: 0.5em;
}

.address {
    margin-left: 22%;
}

.employees {
    border-style: groove;
}

.employees h1 {
    margin-top: 5%;
    text-align: center;
    color: var(--accent-2);
}

.employee-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.form {
    width: 650px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 1rem;
    border-style: groove;
    border-radius: 0.5em;
}

.form h1 {
    color: var(--accent-2);
}

.form h1,
.form p {
    text-align: center;
    margin-bottom: 5%;
}

.user-data {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

#name,
#email {
    display: grid;
}

.user-message {
    margin-top: 5%;
}

.inquiry {
    display: flex;
    justify-content: space-evenly;
}

.message {
    display: grid;
}

#newsletter {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

button {
    background-color: var(--accent-2);
    color: var(--accent-1);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-family: var(--heading-font);
}

.b1 button:hover {
    background-color: var(--secondary-color);
}

#contact {
    border-style: groove;
}

legend {
    padding: 0.5rem;
    font-family: var(--heading-font);
    color: var(--accent-2);
}

label,
input,
textarea {
    font-family: var(--paragraph-font);
}

aside {
    border-style: groove;
    border-radius: 0.5em;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
}

aside a {
    color: var(--accent-1);
    font-family: var(--paragraph-font);
}

/* home page */

.form-2 {
    width: 200px;
    margin-left: 100px;
    margin-top: 40px;
}

.form-2 h2 {
    color: var(--accent-2);
}

.home-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
    padding: 100px 202px;
    gap: 10%;
}

.home-3 {
    border-style: groove;
}

#offer-image {
    grid-row: 2;
    grid-column: 1;
    border-style: groove;
    width: 89%;
}

#purpose-image {
    width: 89%;
    border-style: groove;
}

.home-2 h2 {
    color: var(--accent-2);
}

.home-2 p {
    text-align: justify;
}

.action-1 {
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 515px;
    text-decoration: underline;
}

.action-1 a,
.action-2 a {
    color: var(--accent-2);
    font-size: 30px;
    font-family: var(--heading-font);
}

.action-1 a:hover,
.action-2 a:hover {
    background-color: var(--secondary-color);
}


#safe h1 {
    font-size: 7rem;
    align-self: start;
    margin-top: 0;
}

/* trips page */

.heading {
    border-style: groove;
}

.heading h1 {
    text-align: center;
    color: var(--accent-2);
    margin-top: 5%;
}

.trips {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trips figure {
    border-style: groove;
}

.trips h2 {
    text-align: center;
    color: var(--accent-2);
}

.trips img {
    border-style: groove;
}

.trips figcaption {
    width: 362px;
    font-family: var(--paragraph-font);
    padding: 10px;
    text-align: justify;
}

.trips-table {
    border-style: groove;
}

table {
    border-collapse: collapse;
    border-style: groove;
    font-family: var(--paragraph-font);
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

thead,
th {
    background-color: var(--accent-2);
    color: var(--accent-1);
}

th,
td {
    border: groove;
    padding: 8px 10px;
}

.action-2 {
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 475px;
    text-decoration: underline;
}