:root {
    --accent-1: #ffffff;
    --accent-2: #134e4b;
    --primary-color: #77182A;
    --secondary-color: #F46036;
    --heading-font: Boldonse;
    --paragraph-font: 'Open Sans';
}

h1 {
    font-family: var(--heading-font);
    font-weight: 500;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 300;
}

.hero h1 {
    color: var(--accent-1);
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 97%;
    padding: 20px;
    text-align: center;
    bottom: 70%;
}

.history h2,
.adventure h2 {
    color: var(--accent-2);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
}

a {
    text-decoration: none;
    color: var(--accent-1);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: larger;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    border-style: groove;
}

.hero article img {
    width: 30%;
    float: right;
    padding: 20px;
}

article p {
    color: var(--accent-1);
    padding-left: 10px;
}

article {
    position: absolute;
    background-color: rgba(19, 78, 74, 0.75);
    width: 80%;
    top: 30%;
    left: 9%;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    border-style: groove;
}

header img {
    margin: 20px 0 20px 40%;
    border-style: groove;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 15%;
    border-style: groove;
    height: 50px;
}

header nav a {
    display: flex;
    align-items: center;
    border-right: 2px solid whitesmoke;
    padding: 0 51px;
}

header nav a:last-child {
    border-right: none;
}

footer p {
    font-weight: 500;
    font-size: larger;
}

header,
header nav a,
footer {
    background-color: var(--primary-color);
    color: var(--accent-1);
}

.history {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    border-style: groove;
}

.history p:last-child {
    order: -1;
}

.history div {
    margin-bottom: 2.5%;
    margin-right: 4%;
}

.adventure-images {
    display: flex;
}

figure {
    border-style: groove;
    border-radius: 0.5em;
}

figcaption {
    font-family: var(--paragraph-font);
    border-style: groove;
    border-radius: 0.5em;
}

.adventure {
    border-style: groove;
}

footer {
    border-style: groove;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

footer p {
    padding: 10px;
    text-align: right;
}

.socials {
    margin-top: 3%;
    padding: 10px 10px 20px 10px;
    grid-column: -1;
}

/* contact us page */

.intro {
    text-align: center;
    margin-top: 5%;
}

.intro h1 {
    color: var(--accent-2);
}

.ways {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 5%;
}

.ways p:first-child,
.ways p:last-child {
    border-style: groove;
    border-radius: 0.5em;
    padding: 3%;
}

.headquarters {
    display: flex;
    gap: 10%;
    border-style: groove;
}

.headquarters h1 {
    color: var(--accent-2);
}

.address,
iframe {
    margin-top: 5%;
    margin-bottom: 2%;
}

iframe {
    border-style: groove;
    border-radius: 0.5em;
}

.address {
    margin-left: 22%;
}

.employees {
    border-style: groove;
}

.employees h1 {
    margin-top: 5%;
    text-align: center;
    color: var(--accent-2);
}

.employee-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.form {
    width: 650px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 1rem;
    border-style: groove;
    border-radius: 0.5em;
}

.form h1 {
    color: var(--accent-2);
}

.form h1,
.form p {
    text-align: center;
    margin-bottom: 5%;
}

.user-data {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

#name {
    display: grid;
}

#email {
    display: grid;
}

.user-message {
    margin-top: 5%;
}

.inquiry {
    display: grid;
    justify-content: center;
    gap: 20%;
}

.message {
    display: grid;
}

#newsletter {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

button {
    background-color: var(--accent-2);
    color: var(--accent-1);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    width: 100%;
}

button:hover {
    background-color: var(--secondary-color)
}

#contact {
    border-style: groove;
}

legend {
    padding: 0.5rem;
    font-family: var(--heading-font);
    color: var(--accent-2);
}

button {
    padding: 0.5rem;
    font-family: var(--heading-font);
}

label,
input,
select,
textarea {
    font-family: var(--paragraph-font);
}

aside {
    border-style: groove;
    border-radius: 0.5em;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
}

aside a {
    color: var(--accent-1);
    font-family: var(--paragraph-font);
}