:root {
    --padding: 10px;
    --img-width: 200px;
    --img-height: auto;
    --align: center;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding)
}

h1 {
    color: darkblue;
}

main img {
    width: var(--img-width);
    height: var(--img-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    padding: var(--padding);
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--align);
}

aside img {
    width: var(--img-width);
    height: var(--img-height);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--align);
}